.board-subject {
    display: inline-block;
    padding: 10px;
    font-weight: 700;
}

.btn-primary.btn-boredlist {
    float: right;
    margin: 0px 0px;
    padding: 10px 20px;
}

.bo_info_wrapper.row{
	margin-right:0px;
    margin-left: 0px;
}
.bo_info_wrapper {
    background-color:#f2f2f2;
    padding:10px;
    border-bottom:1px solid #ddd;
}
.bo_info_wrapper .bo_info{
    border-left:0px solid #888;
}.bo_info_wrapper .bo_info:first-child{
    border-left:none;
}
.bo_info_wrapper .bo_info .bo_content_info{
    color:#000;
}

.bo_content{
    width:100%;
    height:auto;
    border-bottom:0px solid #ddd;
    padding:20px 10px;
}


/* 추천/신고 */

.like_btn, .warning_btn{
    display:inline-block;
    border:1px solid #ddd;
    border-radius:0.25rem;
    padding:5px 10px;
}
.like_btn:hover{
    border:1px solid red;
    background-color:red;
    color:white;
}
.warning_btn:hover{
    border:1px solid red;
    background-color:red;
    color:white;
}
.like .like_count, .warning .mdi-alarm-light_count{
    margin-left:5px;
}

/* 추천/신고 다시*/
.btn.btn2{
    margin:0px;
    padding:5px 10px;
}
.btn.btn-outline-danger {
    color: #888;
    background-color: transparent;
    background-image: none;
    border-color: #ddd;
}
.btn.btn-outline-danger:hover {
    color: #fff;
    background-color: #f44236;
    border-color: #f44236;
}


/* 댓글 입력란 */
.reply_section{
    border:1px solid #ddd;
    padding:10px;
    margin:10px 0px;
}

.reply_section .reply_tb{
    width:100%;
}
.reply_section .reply_tb tr td{
}
.reply_textarea{
    display:block;
    width:100%;
}
.btn.btn_rg{
    margin:0px;
    padding:0px;
    width:100%;
    height:60px;
}
/* 댓글 리스트 */
.reply_list_ul{
    list-style: none;
    padding:10px;
}
.reply_list_ul li{
    padding:10px;
    border-top:1px solid #eee;
}
.media-object{
    width:40px;
}
.media-body{
    padding:3px 0px 0px 10px;
}
.reply_comment{
    padding-top:5px;
}
/* 팝업;; */
.modal_pop{
    max-width: 500px;
}
.radiowrap{
    width:100%;
    border:0px solid red;
}
.form-group{
    border:0px solid blue;
    display:inline-block !important;
    width:49%;
    
}
.reseonwhy{
    display:block;
    width:100%;
}
