/* ======================== Tabs =============================== */
.nav-tabs2 {
  border-bottom: none;
  border-bottom: 1px solid #eee;
}
.nav-tabs2 .nav-link {
  border: none;
  color: #888;
}
.nav-tabs2 .nav-link:hover {
  color: #5086f2;
}
.nav-tabs2 .nav-link.disabled {
  opacity: 0.7;
}
.nav-tabs2 .nav-item.show .nav-link,
.nav-tabs2 .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #5086f2;
  color: #5086f2;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.08);
}

.faq_hh{
    color:#5086f2;
    font-weight:700;
    display:inline-block;
    width:100px;
}
 .faq_date{
    text-align:center;
    color:#888;
    font-size:.8em;
    float:right;
}
.ck-editor__editable {
    min-height: 300px;
    max-height: 500px;
}
 .tab-content {
  padding: 35px 30px;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.collapse p {
    -padding:10px;
}
