@charset "UTF-8";

#list-size{
	float:right;
}
.reading-list{
	 float:right;
}
#plus-size1{
	margin: auto;
	float:none;
}
#plus-size2{
	margin: auto;
	float:none;
}
.plus-imp{
	display: inline-block !important;
	width: 80% !important;
}
#contentsize-plus1{
	width: fit-content !important;
	margin: auto;
	margin-top: 20%;
}
#contentsize-plus2{
	width: fit-content !important;
	margin: auto;
	margin-top: 20%;
}
table, td, th {  
	border: 1px solid #ddd;
	width: 30px;
	height: 50px;
	white-space: nowrap;
}												
table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}												
th, td {
	padding: 5px;
	text-align: center;
	font-size:13px;
}
th {
	border: 1px solid white;
	background-color: skyblue;
	color: white;
	text-align: center;
}
.hove:hover{background-color:#f5f5f5;}

#cardsize1{
	width: 100%;
	margin: 20px;
}
#sizesize{
	margin: 20px;
}
.idhidden{
	display:none;
}
.widsize{
	width: 5%;
}
.widsize2{
	width: 20%;
}
h3{
	font-family: 'Black Han Sans', sans-serif;
	text-align:center;
}