@charset "UTF-8";

#main_content_nopadding{
	padding: 0;
}

#main_no_margin{
	margin: 0px;
}

.tab2_title{
	padding: 30px 30px 0px 30px;
}

.tab2{
	padding: 0px 30px 30px 30px;
}

.padding30{
	padding: 30px;
}