<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njb.md.mapper.AbookSumMapper">

	<select id="selectAllAsset" resultType="long">
		select sum(A_Money) as sumAssetMoney from asset where M_id=#{M_id}
	</select>

	<select id="selectInDay" resultType="long">
		select case when sum(io.I_money) is null then 0
		else sum(io.I_money) end as sumInMoney
		from inout io
		join asset ass on io.A_seq=ass.A_seq
		where to_char(io.I_date, 'YYYY/MM/DD')=#{selectDate}
		and ass.M_id=#{M_id}
		and io.C_inout='IO001'
	</select>	

	<select id="selectOutDay" resultType="long">
		select case when sum(io.I_money) is null then 0
		else sum(io.I_money) end as sumOutMoney
		from inout io
		join asset ass on io.A_seq=ass.A_seq
		where to_char(io.I_date, 'YYYY/MM/DD')=#{selectDate}
		and ass.M_id=#{M_id}
		and io.C_inout='IO002'		
	</select>

	<select id="selectAvgInDays" resultType="long">
		select case when round(avg(io.I_money),-2) is null then 0
		else round(avg(io.I_money),-2) end as avgInMoney
		from inout io
		join asset ass 
		on io.A_seq=ass.A_seq 
		where to_char(io.I_date, 'YYYY/MM')=#{selectMonth}
		and ass.M_id=#{M_id}
		and io.C_inout='IO001'
	</select>
	
	<select id="selectAvgOutDays" resultType="long">
		select case when round(avg(io.I_money),-2) is null then 0
		else round(avg(io.I_money),-2) end as avgOutMoney
		from inout io
		join asset ass 
		on io.A_seq=ass.A_seq 
		where to_char(io.I_date, 'YYYY/MM')=#{selectMonth}
		and ass.M_id=#{M_id}
		and io.C_inout='IO002'
	</select>
	
	<select id="selectMaxInDay" resultType="long">
		select I_seq as maxInSeq
		from (select io.I_seq, io.I_date, io.I_money
		from inout io
		join asset ass 
		on io.A_seq=ass.A_seq 
		where to_char(io.I_date, 'YYYY/MM')=#{selectMonth}
		and ass.M_id=#{M_id}
		and io.C_inout='IO001'
		order by io.I_money desc)
		where rownum=1
	</select>
	
	<select id="selectMaxOutDay" resultType="long">
		select I_seq as maxOutSeq
		from (select io.I_seq, io.I_date, io.I_money
		from inout io
		join asset ass 
		on io.A_seq=ass.A_seq 
		where to_char(io.I_date, 'YYYY/MM')=#{selectMonth}
		and ass.M_id=#{M_id}
		and io.C_inout='IO002'
		order by io.I_money desc)
		where rownum=1
	</select>
	
	<select id="selectInMonth" resultType="long">
		select sum(io.I_money) as sumInMoney
		from inout io
		join asset ass 
		on io.A_seq=ass.A_seq 
		where to_char(io.I_date, 'YYYY/MM')=#{selectMonth}
		and ass.M_id=#{M_id}
		and io.C_inout='IO001'
	</select>
	
	<select id="selectOutMonth" resultType="long">
		select sum(io.I_money) as sumOutMoney
		from inout io
		join asset ass 
		on io.A_seq=ass.A_seq 
		where to_char(io.I_date, 'YYYY/MM')=#{selectMonth}
		and ass.M_id=#{M_id}
		and io.C_inout='IO002'
	</select>	
	
</mapper>
