<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njb.md.mapper.MemberMapper">
	<insert id="insertMember" parameterType="njb.md.domain.Member">
      insert into MEMBER(M_ID, M_NAME, M_NICKNAME, M_PASSWORD, M_PHONE, M_BIRTH, M_GENDER, M_PROFILE, C_MEMBER)
      values(#{m_id}, #{m_name}, #{m_nickname}, #{m_password}, #{m_phone}, #{m_birth}, #{m_gender}, #{m_profile}, #{c_member})
 	</insert>
 	<insert id="insertExpert" parameterType="njb.md.domain.Expert">
 	  insert into EXPERT values(#{m_id}, #{e_job}, #{e_position}, #{e_career}, #{e_address}, #{e_introduce}, #{e_starpoint},
 	  #{e_license1}, #{e_license2}, #{e_license3}, #{e_sns1}, #{e_sns2}, #{e_sns3}, #{e_sns4}, #{e_sns5})
 	</insert>
	<insert id="authMember" parameterType="njb.md.domain.Mauth">
	  insert into MAUTH values(#{m_id}, #{ma_auth})
	</insert>
	
	<select id="duplIdCheck" parameterType="string" resultType="string">
		select m_id from MEMBER where m_id = #{m_id}
	</select>
	<select id="duplNickCheck" parameterType="string" resultType="string">
		select m_nickname from MEMBER where m_nickname = #{m_nickname}
	</select>
</mapper>
