<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njb.md.mapper.NoticeMapper">

	<insert id="insertBoardNotice" parameterType="njb.md.domain.Notice">
		insert into Notice
		values(
			Notice_SEQ.NEXTVAL,
			#{M_id},
			'NT002',
			#{N_bseq},
			#{N_subject},
			#{N_content},
			SYSDATE,
			'NS001'
		)
	</insert>

	<select id="dateNotiList" resultType="String">
	<![CDATA[
		select distinct(weekdate)
		from (select to_char(N_date, 'YYYY/MM/DD') as weekdate
		from Notice
		where N_date > sysdate-7
		and N_date <= sysdate
		and M_id=#{M_id}
		and C_NSTATE!='NS003'
		group by N_date
		order by N_date desc)
		order by weekdate desc
	 ]]>		
	</select>

	<select id="headerCount" resultType="long">
	<![CDATA[
		select count(*) as hc
		from Notice
		where N_date > sysdate-7
		and N_date <= sysdate
		and M_id=#{M_id}
		and C_NSTATE='NS001'
		order by N_date desc
	 ]]>		
	</select>

	<select id="getNotiListHeader" resultType="njb.md.domain.Notice">
	<![CDATA[
		select *
		from Notice
		where N_date > sysdate-7
		and N_date <= sysdate
		and M_id=#{M_id}
		and C_NSTATE='NS001'
		order by N_date desc
	 ]]>		
	</select>

	<select id="getNotiList" resultType="njb.md.domain.Notice">
	<![CDATA[
		select *
		from Notice
		where N_date > sysdate-7
		and N_date <= sysdate
		and M_id=#{M_id}
		and C_NSTATE!='NS003'
		order by N_date desc
	 ]]>		
	</select>
	
	<select id="getNotiListHorse" resultType="njb.md.domain.Notice">
	<![CDATA[
		select *
		from Notice
		where N_date > sysdate-7
		and N_date <= sysdate
		and M_id=#{M_id}
		and C_NSTATE!='NS003'
		and C_HORSEHEAD=#{C_horsehead}
		order by N_date desc
	 ]]>		
	</select>
	
	<update id="updateNotice">
		update Notice
		set C_NSTATE=#{C_nstate}
		where N_seq=#{N_seq}
	</update>
</mapper>
