.nav-pills.asset {
  padding: 0;
  box-shadow: none;
}

.nav-pills.asset .nav-link.active, .nav-pills.asset .show>.nav-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-pills.asset li a {
  line-height: 7px;
  min-width: 70px;
}

#asset-tab1, #asset-tab2 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card.my-statistics {
    margin-bottom: 10px;
}

.card.my-statistics > .card-header {
  padding: 0;
}

.card.my-statistics .card-header a {
  color: black;
  display: block;
  padding: 20px 25px;
}

.lineAreaDashboard {
	width: 85%;
	height: 350px;
	margin: 0 auto;
}

.tab2 {
	width: 100%;
	margin: 0 auto;
}

#tab2-chart1 > div:first-child, #tab2-chart2 > div:first-child, #tab2-chart3 > div:first-child, #tab2-chart4 > div:first-child{
	margin: 0 auto;
}

.chart-statistics {
	width: 100%;
	height: 250px;
}

#tab4-chart {
	height: 400px;
	margin-bottom: 40px;
}

.card.inner-card {
	margin-bottom: 0;
}

.card.inner-card .card-body {
	padding: 15px 20px;
	font-size: 1em;
}

.card.inner-card i {
	font-size: 1.8em;
}

.card.inner-card .col-form-label {
	margin: auto 0;
}

.card.inner-card .col-form-label .mdi-numeric-1-box {
	color: #1de9b6;
}
.card.inner-card .col-form-label .mdi-numeric-2-box {
	color: #04a9f5;
}
.card.inner-card .col-form-label .mdi-numeric-3-box {
	color: #a389d4;
}

.stats_sub{
	text-align: center;
	font-size: 18px;
}

.money_out{
	color: #F29D35;
	font-weight: bold;
}

.money_in{
	color: #5086F2;
	font-weight: bold;
}

.asstt{
	margin-top: 10px;
}

.thisMonthTitle{
	font-size: 17px;
	color: black;
	margin-bottom: 3px;
}