.cw-560 {
  width: 560px;
}

.cw-740 {
  width: 740px;
}

.text-c-black {
  color: black;
}

/* sign-up-type start */
#normal, #expert {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
}

#expert {
  background-color: #f2ae30;
}
/* sign-up-type end */

/* sign-up start */
#profile-image {
  height: 130px;
  width: 130px;
}

.btn.subSNS > i, .btn.addSNS > i {
  margin-right: 0;
}

input.address[readonly], textarea.account-clause[readonly] {
   background-color: #f4f7fa;
}

.account-clause {
  font-size: 12px;
}
/* sign-up end */

/* find-account  start */
.form-group label {
  margin: auto 0;
}

.nav-tabs.mem-tab .nav-link.active {
  border-bottom: solid 2px #5086f2;
}

.nav-tabs.mem-tab {
  border-bottom: solid 1px #eeeeee;
}

.mem-tab {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* find-account  end */


/* sign-in start */
.auth-wrapper .auth-bg.sign-in .r:first-child {
  top: -100px;
  right: -100px;
  background: linear-gradient(-135deg, #5086f2 0%, #cbb5ff 100%);
}
.auth-wrapper .auth-bg.sign-in .r:last-child {
  left: -100px;
  bottom: -100px;
  background: linear-gradient(-135deg, #ffc9c6 0%, #f2ae30 100%);
}
.auth-wrapper .auth-bg.sign-in.r.s {
  width: 20px;
  height: 20px;
}
.auth-wrapper .auth-bg.sign-in .r.s:nth-child(2) {
  top: 150px;
  right: -150px;
  background: #f2ae30;
}
.auth-wrapper .auth-bg.sign-in .r.s:nth-child(3) {
  left: -150px;
  bottom: 150px;
  background: #5086f2;
}
/* sign-in end */

/* my-page start */
.change-password {
   display: none;
}
/* my-page end */