.cw-560 {
  width: 560px;
}

.cw-740 {
  width: 740px;
}

.text-c-black {
  color: black;
}

/* sign-up-type start */
#normal, #expert {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
}

#normal {
  background-color: #5086f2;
}

#expert {
  background-color: #f2ae30;
}
/* sign-up-type end */

/* sign-up start */
#profile-image {
  height: 130px;
  width: 130px;
}

.btn > i {
  margin-right: 0;
}

.form-control[readonly] {
  background-color: #f4f7fa !important;
}

.account-clause {
  font-size: 12px;
}
/* sign-up end */

/* find-account  start */
.form-group label {
  margin: auto 0;
}

.nav-tabs.mem-tab .nav-link.active {
  border-bottom: solid 2px #5086f2;
}

.nav-tabs.mem-tab {
  border-bottom: solid 1px #eeeeee;
}
/* find-account  end */