@charset "UTF-8";

.txt_right{
	text-align: right;
}

.txt_center{
	text-align: center;
}

#account_header{
	margin : 0px 0px 20px 0px;
}

#account_header div:nth-child(2){
	font-size: 25px;
}

#cal_col a{
	font-size: 12px;
    padding: 12px;
}

.insert_tab > li > a{
    min-width: 60px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #eaeaea7d !important;
    border-radius: 1px !important;
}

.insert_tab > li > a:hover{
	font-weight: bold !important;
}

.insert_tab > li > .active{
	background-color: #6b98f2 !important;
	font-weight: bold;
	box-shadow: 2px 0px 2px #80808069 !important;
}

.insert_tab{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

.insert_cont{
	padding: 0px 15px 15px 15px !important;
}

.insert_cont > div{
    border: 1px solid #e1e1e1;
    padding: 15px;
    min-height: 250px;
}

#container .highcharts-container{
	width: 100% !important;
}

#my-calendar table{
	position: absolute;
	left: 52%;
	transform: translateX(-50%);
}