@charset "UTF-8";

.txt_right{
	text-align: right;
}

.txt_center{
	text-align: center;
}

#account_header{
	margin : 0px 0px 20px 0px;
}

#account_header div:nth-child(2){
	font-size: 25px;
}

#cal_col a{
    font-size: 12px;
    padding-left: 22px;
    padding-top: 11px;
    display: block;
}

.insert_tab > li > a{
    min-width: 60px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #eaeaea7d !important;
    border-radius: 1px !important;
}

.insert_tab > li > a:hover{
	font-weight: bold !important;
}

.insert_tab > li > .active{
	background-color: #6b98f2 !important;
	font-weight: bold;
	box-shadow: 2px 0px 2px #80808069 !important;
}

.insert_tab{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

.insert_cont{
	padding: 0px 15px 15px 15px !important;
}

.insert_cont > div{
    /* border: 1px solid #e1e1e1; */
    /* min-height: 250px; */
}

#container .highcharts-container{
	width: 100% !important;
}

#my-calendar table{
	position: absolute;
	left: 55%;
	transform: translateX(-50%);
}

.form_title{
	width: 35%;
}

.mwidth_350{
    min-width: 350px;	
}

.insert_form{
	width: 100%;
	font-size: 13px;
	color: #5d5a5a !important;
}

.insert_form tr{
	height: 37px;
	line-height: 37px;
	text-align: center;
}

.insert_form tr, .insert_form td{
	border: 1px solid #e1e1e1;
	border-bottom: none;
}

.insert_form_btn{
	border: none;
}

.insert_form_btn td:hover{
	font-weight: bold;
}

.insert_form_btn td:first-child{
    background-color: #dee2e6;		
}

.insert_form_btn td:first-child:active{
    background-color: #cacfd5;
}

.insert_form_btn td:last-child{
    background-color: #6b98f2;
    color: white;
}

.insert_form_btn td:last-child:active{
    background-color: #5484e5;
}

.insert_form_select td:last-child select{
	width: 100%;
	border: none;
	appearance:none;
    -webkit-appearance: none;
    color: #5d5a5a;
    text-align-last:center;
}

.insert_form_txt td:last-child input{
	width: 100%;
	border: none;
	padding-left: 5px;
	text-align: center;
	color: #5d5a5a;
}

.insert_form_txtarea > td:last-child{
	position:relative;
}

.insert_form_txtarea > td:last-child > textarea{
	width: 100%;
	border: none;
	line-height: 1.5;
	position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    resize:none;
    color: #5d5a5a;
    overflow: hidden;
}

.insert_form_txtarea > td:last-child > textarea::placeholder {
  text-align: center;
  line-height: 37px;
}

.wid_50{
	width: 50%;
	text-align: center;
}

.account_table_card{
	min-height: 270px;
	padding: 15px;
	margin-top: 10px !important;
}

.account_table{
	text-align: center;
	font-size: 12.5px;
}

.account_table th, .account_table td{
	border: 1px solid #d6d6d6;
}

.account_table th{
	width: 21%;
}

.account_table th:first-child, .account_table th:last-child{
	width: 8%;
}

.account_total{
	width:100%;
	height: 30px;
	background-color: white;
	box-shadow: 0 0 0 1px rgba(100, 121, 143, 0.122);
}

.account_total table{
	width:100%;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
}

.account_total table th, .account_total table td{
	width: 16.6666666667%;
}

.account_total table td:nth-child(2), .account_total table td:nth-child(4){
	border-right: 1px solid #80808047;
}

.account_total table td:nth-child(4){
	color: #5086F2;
}

.account_total table td:last-child{
	color: #F29D35;
}