@charset "UTF-8";

.txt_right{
	text-align: right;
}

.txt_center{
	text-align: center;
}

.fl_right{
	float: right;
}

#account_header{
	margin : 0px 0px 10px 0px;
}

#account_header div:nth-child(2){
	font-size: 25px;
}

.tablesCard_header{
	height: 38px;
}

.tablesCard_header span:first-child{
    height: 100%;
    line-height: 40px;
    font-size: 13px;
}

.accountbook_search input{
    border: 1px solid #8080807a;
    border-radius: 10px;
    padding: 5px;
    color: #5086f2;
    font-size: 12px;
    height: 24px;
}

.accountbook_search span{
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
    color: #5086f2;
}

.tablesCard{
	box-shadow: none !important;
}

.tablesCard table{
	width:100%;
	text-align: center;
	font-size: 13.5px;
	table-layout: auto;
}

.tablesCard table th:first-child, .tablesCard table td:first-child{
	width: 15.5%;
}

#account_table_body tr{
  opacity: .85;
  transition: 0.3s;
}

#account_table_body .intr:hover{
	opacity: 1;
	background-color: #d1f2ff;
}

#account_table_body .outtr:hover{
	opacity: 1;
	background-color: #ffe9c0;
}

#account_table_body .trstr:hover{
	opacity: 1;
	background-color: #ebe0ff;
}

.tablesCard table th, .tablesCard table td{
	border: 1px solid #80808047;
}

.form_money_out{
	color: #F29D35;
}

.form_money_in{
	color: #5086F2;
}

.inout_form, .insert_form{
	width: 100%;
}

.inout_form tr, .insert_form tr{
	height: 37px;
	line-height: 37px;
	text-align: center;
}

.inout_form tr, .inout_form td, .insert_form tr, .insert_form td{
	border: 1px solid #e1e1e1;
}

.inout_form td:last-child select, .insert_form td:last-child select{
	width: 100%;
	border: none;
	appearance:none;
    -webkit-appearance: none;
    color: #5d5a5a;
    text-align-last:center;
}

.inout_form td:last-child input, .insert_form td:last-child input{
	border: none;
	text-align: center;
	color: #5d5a5a;
}

.inout_form_txtarea > td:last-child > textarea, .insert_form_txtarea > td:last-child > textarea{
	width: 100%;
	border: none;
	line-height: 1.5;
    resize:none;
    color: #5d5a5a;
    overflow: hidden;	
}

.form_select_date_val{
	border: 1px solid white;
	color: gray;
	text-align: right;
}

.form_select_year_val{
	width: 35px;
}

.form_select_month_val, .form_select_day_val{
	width: 22px;
}

.form_select_date .badge_update_date, .form_select_date .badge_save_date, .form_select_date .badge_cancle_date{
	opacity: .5;
}

.form_select_date .badge_update_date:hover, .form_select_date .badge_save_date:hover, .form_select_date .badge_cancle_date:hover{
	opacity: 1;
}

.form_select_date .badge_save_date, .form_select_date .badge_cancle_date{
	display: none;
}


.modal-header, .modal-footer{
	border: none !important;
}

.modal-dialog{
    max-width: 360px !important;
    margin: 1.75rem auto !important;
}

#inoutModal, #transferModal{
    padding-top: 4%;
}
