.scroll{
  overflow-x:hidden !important;
}
.icon{
  color:white !important;
}
.nameCheckBox{
  margin-bottom: 0 !important;
}
.text{
  text-align:center;
}
.exampleModalLive{
  display: none;
}

.img-fluid rounded-circle{
  width:40px;
}
.changeButton{
  float:right;
}
.optionControl{
  float:right;
}
.radioSelect{
	padding:1% !important;
}
.fontSize{
    font-weight: 700;
}
.blank{
	padding:10%;
}
#demo-foo-filtering, #demo-foo-filtering th{
	text-align:center !important;
}