.table-hover thead {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.table-hover tbody tr{
 cursor:pointer;
}
.inner_detail{
}
.inner_detail_td{
  padding: 0px;
}
.report_detail_table {
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.report_detail_table tr th, .report_detail_table tr td{
  background-color:#f7f7f7;
}
/* border:1px solid green; */
.report_detail_table th{
  border-bottom: 1px solid lightGray;
}

.tdStyle {
  display: none !important;
}
