@charset "UTF-8";

#advice_title{
	display: block;
	margin: auto 0;
	text-align: center;
}
#advice_signup{
	display: block;
	margin: auto 0;
	float : center;
}
#modal-advice{
	width: 100%;
	float:none;
	margin:0 auto;
}
#consent{
	 overflow:scroll;
	 height:200px;
	 width:465px;
}

#consent p{
	font-size: 12px;
}

#content{
	resize: none;
	height:100px;
	width:465px;
	padding:0px;
	word-wrap: break-word;
}
#footer-style{
	width: 100%;
}
#footer-style button{
	margin: auto;
}
#card-design-plus{
	width: 50%;
	margin-top: 80px;
	float: left;
}
#sns-design{
	margin-top: 15px;
	font-size: 35px;
}
#sns-design2{
	margin-top: 15px;
	font-size: 35px;
}
.sns-design i{
	margin: 8px;
}
.headder-title{
	weight:80%;
}
.find-list{
	weight:60%;
	float:left;
}
.advice-signup{
	float : right;
}
#advice-signup2{
	width: 100%;
	float:none;
	margin:0 auto;
}
#stars{
	 float: right;
}
.self-intro{
	margin-top: 130px;
	width: 50%;
	float: left;
}
#colxlmd{
	margin-left: auto;
    margin-right: auto;
}
.review{
	margin: 50px;
}
#card-box{
	margin: 100px;
}
.review-subject{
	width:60%;
	float: left;
}
.review-person{
	width: 40%;
	float: left;
}
.review-person p{
	margin-right: -40px;
	text-align: right;
}

#search-btn{
	float: right;
}